/*My stylesheet*/
/*Establishing a vertical navigation bar below.*/

/*Adding Side Bar class here*/
.side-bar {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:300px;
    width:150px;
    border-right:1px solid red;
    background-color:black;
    padding:10px;
}

.side-bar-items{
    cursor:pointer;
    padding:5px 10px;
    color:aqua;
    font-size:15px;
}

.side-bar:hover{
    border-radius:4px;
    background-color:gray;
}

body{
    margin:0;
}

nav{
    position:fixed;
    background:#ddd;
    padding:10px;
    width:150px;
    height:100%;
}

ul{
    list-styles:none;
    padding-left:0;
    display:flex;
    flex-direction:column;
}
